<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Products List</title>
</head>
<body>
<h1>Products List</h1>
<a th:href="@{/insertProduct}">Insert Product</a>

<table border=1>
	<tr>
		<th>Name</th>
		<th>Made</th>
		<th>Price</th>
		<th>Date</th>
	</tr>
	<tr th:each="product : ${productList}">
		<td th:text="${product.name}"></td>
		<td th:text="${product.made}"></td>
		<td th:text="${product.price}"></td>
		<td th:text="${product.date}"></td>
	</tr>	
</table>
</body>
</html>